img{
    display: block;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 20vh; 
    margin-left: auto;    /* Automatically calculates equal space on the left */
    margin-right: auto;   /* Automatically calculates equal space on the right */
    max-width: 100%;
}
#T{
    background-color: forestgreen;
    background-size:3cm;
    color:lime;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}